.booking {
  background-image: url("../img/content/booking-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-pattens-blue;
  background-size: cover;

  @include retina {
    background-image: url("../img/content/booking-back-2x.jpg");
  }

  @include vp-1365 {
    background-image: url("../img/content/booking-back-tablet.jpg");

    @include retina {
      background-image: url("../img/content/booking-back-tablet-2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/content/booking-back-mobile.jpg");

    @include retina {
      background-image: url("../img/content/booking-back-mobile-2x.jpg");
    }
  }
}

.booking__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 163px;
  width: $vp-1366;
  text-align: left;

  @include vp-1365 {
    flex-direction: column;
    padding: 88px 22% 100px;
    width: auto;
    text-align: center;
  }

  @include vp-767 {
    padding: 57px 5% 65px;
  }
}

.booking__text-wrapper {
  padding-top: 162px;
  width: 500px;

  @include vp-1365 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-bottom: 51px;
    padding-top: 0;
    width: auto;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.booking__text-wrapper h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1365 {
    align-self: center;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
  }
}

.booking__text-wrapper p {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  width: 355px;

  @include vp-1365 {
    align-self: center;
  }

  @include vp-767 {
    font-size: inherit;
    line-height: 22px;
    width: auto;
  }
}

.booking__text-wrapper br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.booking__modal-wrapper {
  padding: 43px 50px;
  width: 403px;
  min-height: 455px;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 45px 0 fade($color-tangaroa, 15%);

  @include vp-1365 {
    padding: 45px 50px;
    margin: 0 13px;
    width: auto;
    text-align: left;
  }

  @include vp-767 {
    margin: 0;
    padding: 35px 30px 40px;
    text-align: center;
  }
}

.booking__modal-wrapper p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 27px;

  @include vp-767 {
    line-height: 25px;
  }
}

.booking__modal-wrapper br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
