.cruises {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 110px 40px 120px;
  max-width: $vp-1210;
  width: 100%;
  text-align: left;

  @include vp-1023 {
    padding: 90px 60px 100px;
    width: $vp-768;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 56px 25px 65px;
    width: $vp-320;
  }
}

.cruises h2 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  padding: 0;
  margin: 0 auto 48px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 48px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.cruises__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(auto-fill, 309px);
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fill, 270px);
  }
}

.cruises__card {
  width: 260px;
  height: 386px;
  position: relative;


  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__cruise-card-img img {
  width: 260px;
  height: 386px;
  object-fit: cover;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__cruise-card-img span {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  position: absolute;
  bottom: 23px;
  left: 30px;
  z-index: 2;

  @include vp-1023 {
    bottom: 27px;
    left: 34px;
  }

  @include vp-767 {
    bottom: 18px;
    left: 25px;
  }
}

.cruises__cruise-description {
  display: none;
  background-color: $color-tangaroa;
  padding: 28px 25px 35px;
  height: 386px;
  box-sizing: border-box;

  @include vp-1023 {
    padding: 30px 35px 35px;
  }

  @include vp-767 {
    padding: 28px 25px 35px;
  }
}

@media (hover: hover), screen and (min-width: 0\0) {
  .cruises__card:hover .cruises__cruise-description,
  .cruises__card:focus .cruises__cruise-description {
    display: block;
  }

  .cruises__card:hover .cruises__cruise-card-img,
  .cruises__card:focus .cruises__cruise-card-img {
    display: none;
  }

  .cruises__card:focus {
    outline: $color-alice-blue auto 1px;
    outline-offset: -5px;
  }
}

.is-touched .cruises__cruise-description {
  display: block;
}

.is-touched .cruises__cruise-card-img {
  display: none;
}

.cruises__cruise-description h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 10px;
}

.cruises__cruise-description a {
  min-height: 40px;
}

.cruises__description-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  width: 228px;
  height: 230px;
  overflow-y: auto;
  margin-right: -20px;

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-767 {
    width: 218px;
  }
}

.cruises__description-list-wrapper {
  overflow: hidden;
}

.cruises__description-item {
  margin: 0;
  margin-bottom: 8px;
}

.cruises__description-item span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $color-alice-blue;
  margin-bottom: 5px;
}

.cruises__description-item p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $color-quartz;
  margin: 0;
}
