*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 24px;
  font-family: $ff-montserrat;
  color: $color-tangaroa;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;

  background-color: $color-alice-blue;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
