// Colors
// ---------------------------------

$color-solitude: #e3ecf6;
$color-black: #000000;
$color-prussian-blue: #002b66;
$color-alice-blue: #f9fbfd;
$color-tangaroa: #011c40;
$color-quartz: #d8d8d9;
$color-pattens-blue: #d5edfa;

// Typography
// ---------------------------------

$fz-default: 16px;

$ff-montserrat: "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1366: 1366px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
$retina-dpi: 192dpi;
